---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">

<head>
  {% include head.html %}
  {% include head/custom.html %}
</head>

<body>

  {% include browser-upgrade.html %}
  {% include masthead.html %}

  <div class="initial-content">

    <div id="main" role="main" class="page__inner-wrap">

      <!-- sidebar（必须在主容器内） -->
      <aside class="sidebar">
        {% include sidebar.html %}
      </aside>

      <!-- main content -->
      <div class="archive">

        <!-- author profile -->
        {% if page.author_profile %}
          {% include author-profile.html %}
        {% endif %}

        <!-- page content -->
        <article class="page" itemscope itemtype="http://schema.org/CreativeWork">

          {% if page.title %}
          <meta itemprop="headline" content="{{ page.title | strip_html | escape_once }}">
          {% endif %}

          <section class="page__content" itemprop="text">
            {{ content }}
          </section>

        </article>

      </div>

    </div>
  </div>

  {% include scripts.html %}

</body>

</html>